DATABASE_URL=postgres://patchwork:patchwork@localhost:55432/patchwork?sslmode=disable

DBMATE_MIGRATIONS_DIR=resources/db/migrations/
DBMATE_SCHEMA_FILE=resources/db/schema.sql

OIDC_ISSUER_URL=https://pocketid.localhost
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URL=https://patchworks.localhost/auth/callback
SESSION_ENCRYPTION_KEY=
